* {
    margin: 0;
    padding: 0;
}

body {
    background: #F8F8F8 !important;
    font-family: "GothamPro", sans-serif !important;
}
  
@font-face {
    font-family: "GothamPro"; 
    src: url("./fonts/gothampro.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 