* {
    margin: 0;
    padding: 0;
}

body {
    background: #F8F8F8 !important;
    font-family: "GothamPro", sans-serif !important;
}

p {
    margin-bottom: 0px;
}

#app {
    padding-top: 38px;
}

.active {
	background: #70D24E !important;
	border: 1px solid #70D24E !important;
	color: white;
    transition: background-color .3s;
}

.filter-menu__buttons-room .active {
    background: #61BD42;
}

/* range-slider */

.simple-range-slider-popover, .simple-range-slider-popover-arrow {
    display: none;
}

.simple-range-slider-bg-bar {
    background: #D8D8D8 !important;
    border-radius: 15px !important;
}

.simple-range-slider-anchor {
    width: 16px !important;
    height: 16px !important;
    background: #70D24E !important;
    box-shadow: none !important;
    border: 4px solid white !important;
    border-radius: 100% !important;
    outline: none !important;
}

.simple-range-slider-bar {
    background: #70D24E !important;
}


  
@font-face {
    font-family: "GothamPro"; 
    src: url("./fonts/gothampro.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "GothamPro-bold"; 
    src: url("./fonts/gothampro_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 