* {
    margin: 0;
    padding: 0;
}

body {
    background: #F8F8F8 !important;
    font-family: "GothamPro", sans-serif !important;
}

#app {
    padding-top: 38px;
}

.active {
	background: #70D24E !important;
	border: 1px solid #70D24E !important;
	color: white;
    transition: background-color .3s;
}

.filter-menu__buttons-room .active {
    background: #61BD42;
}
  
@font-face {
    font-family: "GothamPro"; 
    src: url("./fonts/gothampro.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "GothamPro-bold"; 
    src: url("./fonts/gothampro_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 